
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vw;
    color:#ffffff;
    background-color: #4f4f4f;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

/*square check button - invisible*/
input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display:none;
}

/*mode slide-button*/
.check {
    position:relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #ffecc7;
    cursor: pointer;
    border-radius: 20px;
    /*overflow: hidden;*/
    transition: ease-in 0.5s;
}

/*light background color pourying*/
input[type="checkbox"]:checked ~ .check {
    background: #4f4f4f;
    box-shadow: 0 0 0 3000px #ffecc7;
    z-index: -1;
}

/*white dot on black button*/
.check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #ffecc7;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
}


input[type="checkbox"]:checked ~ .check:before { 
    transform: translateX(20px);
    z-index: 1;
}


.check:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #4f4f4f;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(0px);
    z-index: 1;
}

input[type="checkbox"]:checked ~ .check:after { 
    transform: translateX(20px);
    z-index: -1;
}

#tetrisGround {
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    text-align: center;
    margin: 2px;
    padding: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: auto; 
}

li {
    color:#17ffe8;
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: -1px 0 3px black, 0 1px 3px black, 0 0 25px #ffffff, 0 0 10px #17ffe8;
}

li:nth-child(2) {
    transform: rotate(15deg) translateY(4px);
    animation: neon 2s infinite linear;
}

#score {
    color: #17ffe8;
    margin: 2px;
    margin-left: 10px;
    display: inline-block;
    text-shadow: -1px 0 3px black, 0 1px 3px black, 0 0 25px #ffffff, 0 0 10px #17ffe8;
}

#scoreContainer {
    font-weight: 600;
    font-size: 30px;
    color: rgba(40, 40, 40);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

@keyframes neon {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.5;
    }
    30% {
      opacity: 0.5
    }
    32% {
      opacity: 1;
    }
    45% {
      opacity: 1;
    }
    46% {
      opacity: 0.5;
    }
    54% {
      opacity: 0.5;
    }
    55% {
      opacity: 1;
    }
    77% {
      opacity: 1;
    }
    78% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    90% {
      opacity: 1
    }
    93% {
      opacity: 1
    }
    95% {
      opacity: 0
    }
    97% {
      opacity: 0
    }
    98% {
      opacity: 1
    }
    100% {
      opacity: 0;
    }
}