body {
    background: #000000;
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#canvasSR {
    border: 3px solid #ffffff;
    display: flex;
    width: 30vw;
}